<ul id="select-list">
  <li class="option option-0">Afghanistan</li>
  <li class="option option-1">Albania</li>
  <li class="option option-2">Algeria</li>
  <li class="option option-3">Andorra</li>
  <li class="option option-4">Angola</li>
  <li class="option option-5">Antigua and Barbuda</li>
  <li class="option option-6">Argentina</li>
  <li class="option option-7">Armenia</li>
  <li class="option option-8">Australia</li>
  <li class="option option-9">Austria</li>
  <li class="option option-10">Azerbaijan</li>
  <li class="option option-11">Bahamas</li>
  <li class="option option-12">Bahrain</li>
  <li class="option option-13">Bangladesh</li>
  <li class="option option-14">Barbados</li>
  <li class="option option-15">Belarus</li>
  <li class="option option-16">Belgium</li>
  <li class="option option-17">Belize</li>
  <li class="option option-18">Benin</li>
  <li class="option option-19">Bhutan</li>
  <li class="option option-20">Bolivia</li>
  <li class="option option-21">Bosnia and Herzegovina</li>
  <li class="option option-22">Botswana</li>
  <li class="option option-23">Brazil</li>
  <li class="option option-24">Brunei</li>
  <li class="option option-25">Bulgaria</li>
  <li class="option option-26">Burkina Faso</li>
  <li class="option option-27">Burundi</li>
  <li class="option option-28">Cabo Verde</li>
  <li class="option option-29">Cambodia</li>
  <li class="option option-30">Cameroon</li>
  <li class="option option-31">Canada</li>
  <li class="option option-32">Central African Republic</li>
  <li class="option option-33">Chad</li>
  <li class="option option-34">Chile</li>
  <li class="option option-35">China</li>
  <li class="option option-36">Colombia</li>
  <li class="option option-37">Comoros</li>
  <li class="option option-38">Congo (Congo-Brazzaville)</li>
  <li class="option option-39">Costa Rica</li>
  <li class="option option-40">Côte d’Ivoire</li>
  <li class="option option-41">Croatia</li>
  <li class="option option-42">Cuba</li>
  <li class="option option-43">Cyprus</li>
  <li class="option option-44">Czechia</li>
  <li class="option option-45">Democratic Republic of the Congo</li>
  <li class="option option-46">Denmark</li>
  <li class="option option-47">Djibouti</li>
  <li class="option option-48">Dominica</li>
  <li class="option option-49">Dominican Republic</li>
  <li class="option option-50">Ecuador</li>
  <li class="option option-51">Egypt</li>
  <li class="option option-52">El Salvador</li>
  <li class="option option-53">Equatorial Guinea</li>
  <li class="option option-54">Eritrea</li>
  <li class="option option-55">Estonia</li>
  <li class="option option-56">Eswatini</li>
  <li class="option option-57">Ethiopia</li>
  <li class="option option-58">Fiji</li>
  <li class="option option-59">Finland</li>
  <li class="option option-60">France</li>
  <li class="option option-61">Gabon</li>
  <li class="option option-62">Gambia</li>
  <li class="option option-63">Georgia</li>
  <li class="option option-64">Germany</li>
  <li class="option option-65">Ghana</li>
  <li class="option option-66">Greece</li>
  <li class="option option-67">Grenada</li>
  <li class="option option-68">Guatemala</li>
  <li class="option option-69">Guinea</li>
  <li class="option option-70">Guinea-Bissau</li>
  <li class="option option-71">Guyana</li>
  <li class="option option-72">Haiti</li>
  <li class="option option-73">Honduras</li>
  <li class="option option-74">Hungary</li>
  <li class="option option-75">Iceland</li>
  <li class="option option-76">India</li>
  <li class="option option-77">Indonesia</li>
  <li class="option option-78">Iran</li>
  <li class="option option-79">Iraq</li>
  <li class="option option-80">Ireland</li>
  <li class="option option-81">Israel</li>
  <li class="option option-82">Italy</li>
  <li class="option option-83">Jamaica</li>
  <li class="option option-84">Japan</li>
  <li class="option option-85">Jordan</li>
  <li class="option option-86">Kazakhstan</li>
  <li class="option option-87">Kenya</li>
  <li class="option option-88">Kiribati</li>
  <li class="option option-89">Kuwait</li>
  <li class="option option-90">Kyrgyzstan</li>
  <li class="option option-91">Laos</li>
  <li class="option option-92">Latvia</li>
  <li class="option option-93">Lebanon</li>
  <li class="option option-94">Lesotho</li>
  <li class="option option-95">Liberia</li>
  <li class="option option-96">Libya</li>
  <li class="option option-97">Liechtenstein</li>
  <li class="option option-98">Lithuania</li>
  <li class="option option-99">Luxembourg</li>
  <li class="option option-100">Madagascar</li>
  <li class="option option-101">Malawi</li>
  <li class="option option-102">Malaysia</li>
  <li class="option option-103">Maldives</li>
  <li class="option option-104">Mali</li>
  <li class="option option-105">Malta</li>
  <li class="option option-106">Marshall Islands</li>
  <li class="option option-107">Mauritania</li>
  <li class="option option-108">Mauritius</li>
  <li class="option option-109">Mexico</li>
  <li class="option option-110">Micronesia</li>
  <li class="option option-111">Moldova</li>
  <li class="option option-112">Monaco</li>
  <li class="option option-113">Mongolia</li>
  <li class="option option-114">Montenegro</li>
  <li class="option option-115">Morocco</li>
  <li class="option option-116">Mozambique</li>
  <li class="option option-117">Myanmar (Burma)</li>
  <li class="option option-118">Namibia</li>
  <li class="option option-119">Nauru</li>
  <li class="option option-120">Nepal</li>
  <li class="option option-121">Netherlands</li>
  <li class="option option-122">New Zealand</li>
  <li class="option option-123">Nicaragua</li>
  <li class="option option-124">Niger</li>
  <li class="option option-125">Nigeria</li>
  <li class="option option-126">North Korea</li>
  <li class="option option-127">North Macedonia</li>
  <li class="option option-128">Norway</li>
  <li class="option option-129">Oman</li>
  <li class="option option-130">Pakistan</li>
  <li class="option option-131">Palau</li>
  <li class="option option-132">Panama</li>
  <li class="option option-133">Papua New Guinea</li>
  <li class="option option-134">Paraguay</li>
  <li class="option option-135">Peru</li>
  <li class="option option-136">Philippines</li>
  <li class="option option-137">Poland</li>
  <li class="option option-138">Portugal</li>
  <li class="option option-139">Qatar</li>
  <li class="option option-140">Romania</li>
  <li class="option option-141">Russia</li>
  <li class="option option-142">Rwanda</li>
  <li class="option option-143">Saint Kitts and Nevis</li>
  <li class="option option-144">Saint Lucia</li>
  <li class="option option-145">Saint Vincent and the Grenadines</li>
  <li class="option option-146">Samoa</li>
  <li class="option option-147">San Marino</li>
  <li class="option option-148">Sao Tome and Principe</li>
  <li class="option option-149">Saudi Arabia</li>
  <li class="option option-150">Senegal</li>
  <li class="option option-151">Serbia</li>
  <li class="option option-152">Seychelles</li>
  <li class="option option-153">Sierra Leone</li>
  <li class="option option-154">Singapore</li>
  <li class="option option-155">Slovakia</li>
  <li class="option option-156">Slovenia</li>
  <li class="option option-157">Solomon Islands</li>
  <li class="option option-158">Somalia</li>
  <li class="option option-159">South Africa</li>
  <li class="option option-160">South Korea</li>
  <li class="option option-161">South Sudan</li>
  <li class="option option-162">Spain</li>
  <li class="option option-163">Sri Lanka</li>
  <li class="option option-164">Sudan</li>
  <li class="option option-165">Suriname</li>
  <li class="option option-166">Sweden</li>
  <li class="option option-167">Switzerland</li>
  <li class="option option-168">Syria</li>
  <li class="option option-169">Taiwan</li>
  <li class="option option-170">Tajikistan</li>
  <li class="option option-171">Tanzania</li>
  <li class="option option-172">Thailand</li>
  <li class="option option-173">Timor-Leste</li>
  <li class="option option-174">Togo</li>
  <li class="option option-175">Tonga</li>
  <li class="option option-176">Trinidad and Tobago</li>
  <li class="option option-177">Tunisia</li>
  <li class="option option-178">Turkey</li>
  <li class="option option-179">Turkmenistan</li>
  <li class="option option-180">Tuvalu</li>
  <li class="option option-181">Uganda</li>
  <li class="option option-182">Ukraine</li>
  <li class="option option-183">United Arab Emirates</li>
  <li class="option option-184">United Kingdom</li>
  <li class="option option-185">United States</li>
  <li class="option option-186">Uruguay</li>
  <li class="option option-187">Uzbekistan</li>
  <li class="option option-188">Vanuatu</li>
  <li class="option option-189">Vatican City</li>
  <li class="option option-190">Venezuela</li>
  <li class="option option-191">Vietnam</li>
  <li class="option option-192">Yemen</li>
  <li class="option option-193">Zambia</li>
  <li class="option option-194">Zimbabwe</li>
</ul>