:root {
  --main-bg-color: #444;
  --main-text-color: #d4d4d4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  padding: 1rem;
  font-family: 'Avenir', sans-serif;
  background: var(--main-bg-color);
  background: linear-gradient(115deg, var(--main-bg-color) 40%, #333 100%);
  color: var(--main-text-color);
  height: 100vh;
}

img {
  width: 100%;
  height: auto;
  display: block;
  border: 4px solid #FFF;
}

p {
  margin: 10px 0;
  font-size: 1rem;
  
}

h1 {
  font-size: 1.45rem;
}

ul {
  padding: 1rem;
  margin: 0;
}

ul li {
  font-size: 1rem;
}

main {
  width: 90vw;
  margin: 0 auto;
  max-width: 400px;
}

header {
  padding-bottom: .5rem;
}

form {
  display: flex;
  gap: .5rem;
}

form input {
  width: 100%;
  border: 2px solid var(--main-text-color);
  outline: none;
  color: var(--main-text-color);
  padding: 5px;
  background-color: transparent;
  font-size: 1.5rem;
}

form input::placeholder {
  color: var(--main-text-color);
}

form button {
  appearance: none;
  border: none;
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  position: relative;
  display: block;
  width: 50px;
  font-size: 0;
}

form button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%) rotate(45deg);
  width: 10px;
  height: 10px;
  border-top: 3px solid var(--main-bg-color);
  border-right: 3px solid var(--main-bg-color);
}


.image-wrapper {
  overflow: hidden;
  position: relative;
  margin: 1rem 0;
  aspect-ratio: 1/1;
  background: linear-gradient(-45deg, white, rgba(255,255,255,0.6));
}

.image-wrapper::after {
  content: '';
  position: absolute;
  top:0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: transparent;
  transition: all .3s ease;
}

.image-wrapper.correct::after {
  background-color: green;
  opacity: 0.5;
}

.image-wrapper.incorrect::after {
  background-color: red;
  opacity: 0.5;
}

.image-wrapper img {
  transition: all .2s ease;
}

.image-wrapper h2 {
  font-size: 1.5rem;
  text-align: center;
  color: var(--main-bg-color);
}

p.dish-title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  background-color: #fff;
  z-index: 10;
  color: var(--main-bg-color);
  transform: translateY(-100%);
  transition: all .3s ease;
}

p.dish-title.showing {
  transform: translateY(0);
}

.tip-list ul li {
  opacity: 0;
}

.tip-list ul li.show {
  opacity: 1;
}